* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  border: none;
  outline: none;
  font-weight: bold;
}

:root {
   --shadowBox: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   --color-primary: #F48E28;
   --color-secondary: #F5DDC4;
   --color-gray: rgb(139, 135, 135)
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  cursor:auto;
}

.logo {
  width:5rem;
  height: 3rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .5rem 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 20rem;
}

nav ul li  {
  font-size: 1.1rem;
  color: var(--color-gray);
  font-weight: 300;
  cursor: pointer;
}



.search-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 14rem;
  border-radius: .4rem;
  box-shadow: var(--shadowBox);
  padding: .75rem;
}

.search-container input[type="text"] , .subscrption-container input[type="text"] {
  outline: 0;
  border: 0;
  border-right: 1px black solid;
  width: 8rem;
}

.subscrption-container input[type="text"] {
  border: none;
  padding: .5rem .75rem;
}


.hero-section {
  display: flex;
  /* justify-content: space-between; */
  width: 86%;
  margin: auto;
  padding: 1rem 0;
}

.left-area {
  flex-basis: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 0;
}

.right-area {
  flex-basis: 50%;
  padding: 1rem 0;
}


.hero-btn   {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3rem .5rem;
  width: 11rem;
  border-radius: 1rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  box-shadow: var(--shadowBox);
  margin: 1rem 0;
}

.hero-btn img {
  width: 2.5rem;
  height: 2.5rem;
}



.hero-title {
  font-size: 3rem;
  width: 80%;
  font-weight: 500;
}

.hero-title span {
  color: var(--color-primary);
}

.hero-content {
  font-size: 1.15rem;
  color: var(--color-gray);
  margin: 1rem 0;
  margin-right: 1rem;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.btn-order , .btn-cart , .btn-subscribe {
  background-color: var(--color-primary);
  color: #fff;
  padding: 1rem 2.5rem;
  border-radius: .5rem;
  box-shadow: var(--shadowBox);
  margin-right: 1rem;
  font-size: .75rem;
  font-weight: 200;
  cursor: pointer;
}

.btn-cart {
  padding: .5rem .6rem;
  border-radius: 1rem;
  font-weight: 400;
}

.btn-subscribe {
  padding: .5rem .75rem;
  margin-right: 0;
}

.btn-play  , .btn-footer-icon {
  box-shadow: var(--shadowBox);
  padding: .75rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-footer-icon {
  padding: .45rem;
  background-color: var(--color-primary);
}



.btn-container span {
  font-size: 1.2rem;
  color: var(--color-gray);
}

.recipie-card {
  box-shadow: var(--shadowBox);
  border-radius: 1rem;
  position: relative;
  width: 100%;
}

.hero-recipie-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  padding: 0 .5rem;
}

.recipie-card img {
  width: 100%;
  display: block;
  object-fit: cover;
  filter: brightness(-100);
  opacity: 1.5;
  /* border-radius: .5rem; */
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.card-conent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
}

.card-conent h3 , .card-conent h2 {
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--color-primary);
}

.card-conent h2 {
  color: black;
}

.view-btn {
  position: absolute;
  top: 5%;
  right: -5%;
  font-size: 1.5rem;
  color: var(--color-primary);
  cursor: pointer;
}

.section-info {
  width: 85%;
  margin: 2rem auto;
  box-shadow: var(--shadowBox);
  border-radius: .5rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 1rem;
}

.section-info > :nth-child(1) , .section-info> :nth-child(2) {
  border-right: 1px var(--color-gray) dotted;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding : 2rem
}

.info-card h2 , .info-card h3 {
  color: var(--color-gray);
}
.info-card h2  {
  font-weight: 600;
  font-size: 1rem;
  color: black;
}
.info-card h3 {
  font-size: 1rem;
  font-weight: 100;
}

.icon-info {
  color: var(--color-primary);
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.section-title {
  width: 85%;
  margin: 4rem auto;
  text-align: center;
}

.section-title h3 {
  color: var(--color-primary);
  font-size:1.4rem;
  font-weight: 400;
}

.section-title h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

.popular-section {
  width: 85%;
  margin: 1rem auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3,1fr);
}

.service-section , .section-workflow {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
}


.service-section> :nth-child(odd) {
  border: 1px gray dotted;
}

.service-section> :nth-child(even) {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 1rem;
  border-radius: 1rem;
}

.service-card button {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
}

.service-icon {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-primary);
}

.service-card h2 , .work-card h2 {
  font-size: 1.3rem;
  font-weight: 400;
}
.service-card p , .work-card p {
  color: var(--color-gray);
  text-align: center;
  font-weight: 100;
}

.section-workflow {
  position: relative;;
}

.work-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.work-card:nth-child(even) > h2 {
  order: 1;
  color: var(--color-gray);
}
.work-card:nth-child(even)> p {
  order: 2;
  color: black;
}
.work-card:nth-child(even)> img {
  order: 3;
}

.work-card img{
  width: 80%;
}

.left-line , .right-line {
  position: absolute;
}

.left-line {
  width: 28%;
  height: 55%;
  left: 20%;
  top: 10%;
}

.right-line {
  width: 30%;
  right: 20%;
  top: 10%;
}

.section-testionial {
  width: 85%;
  margin: auto;
}
.testimonial-card-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 5rem;
}

.customer-testimonial-card {
  box-shadow: var(--shadowBox);
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.icon-right , .icon-left {
  position: absolute;
  color: var(--color-primary);
  font-size: 1.5rem;
  cursor: pointer;
  top: 50%;
}
.icon-left {
  left: -3%;
}
.icon-right {
  right: -3%;
}

.testimonial-img img {
  width: 100%;
}

.profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.customer-img {
  border-radius: 100%;
}

.customer-details h3 {
  font-weight: 600;
}

.customer-details h5 {
  font-weight: 200;
  color: var(--color-gray);
}

.customer-comment {
  width: 85%;
  text-align: center;
  font-weight: 200;
  color: var(--color-gray);
}


.section-newsletter {
  width: 85%;
  margin: 6rem auto;
  background-color: black;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 3.5rem 1.5rem;
  border-radius: 1rem;
}

.section-newsletter img {
  width: 25rem;
  position: absolute;
  top: -30%;
}


.newsletter-info {
  color: #fff;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: .45rem;
}


.newsletter-info h1 {
  font-weight: 400;
  font-size: 1.35rem;
}

.newsletter-info p {
  font-size: .75rem;
  font-weight: 300;
  width: 90%;
}



.subscrption-container {
  background-color: #fff;
  width: 78%;
  display: flex;
  justify-content: space-between;
  padding: .35rem .5rem;
  border-radius: .75rem;
  margin-top: .25rem;
}

.section-footer {
   background-color: #FAFAFF;
}

footer {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 2rem;
  padding: 1rem .5rem;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}


.footer-logo img {
  width: 5rem;
}

.footer-logo p {
  font-size: .8rem;
  color: var(--color-gray);
  font-weight: 200;
}

.footer-title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 2.2rem;
}

.footer-link {
  font-size: .8rem;
  color: var(--color-gray);
  font-weight: 200;
  margin-bottom: .2rem;
  letter-spacing: .1rem;
  cursor: pointer;
}

.contact-icon {
  display: flex;
  gap: .5rem;
  cursor: pointer;
}
.contact-icon > * {
  cursor: pointer;
}

.section-recipie-info {
  display: flex;
  padding: 1.5rem 0;
  width: 85%;
  margin: auto;
  gap: 2rem;
}

.recipie-details {
  flex-basis: 95%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.recipie-details h1 {
  font-weight: 400;
  font-size: 2rem;
  color: var(--color-primary);
}


.recipie-details h3,
.recipie-details b,
.recipie-details a {
  font-weight: 300;
  font-size: 1.1rem;
  color: #dbaf82;
}

.recipie-details div {
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
  border-top: 1px dotted var(--color-gray);
  border-bottom: 1px dotted var(--color-gray);
}
.recipie-details div h3 {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
}

.recipie-details div h3 span {
  color: var(--color-secondary);
  font-size: 1rem;
  font-weight: 400;
}


.receipie-image img {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  object-fit: fill;
}

